@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Della+Respira&family=Kumbh+Sans:wght@400;700&family=Syne:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    background-color: #f9fafc;
    letter-spacing: -0.05em;
}

h1, h2 {
    font-size: 32px;
    margin: 0;
    padding: 10px;
}

.layout-wrapper {
  padding: 0;
  margin: 0 auto;
}

.navbar {
    height: 50px;
    background-color: rgba(253, 254, 255, 0.295);
    position: sticky;
    top: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1.5px);
    z-index: 9999;
}

.navbar p {
    font-family: 'Della Respira', serif;
    letter-spacing: 0;
}

.hero-section {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    padding: 60px 20px;
    line-height: .8;
    justify-content: center;
}

.hero-section .load-1st {
    animation: fadeInAnimation ease 3.2s, 1s ease-out 0s 1 slideInFromLeft;
    animation-iteration-count: 1;
    animation-delay: 0ms;
}

.hero-section .load-2nd {
    animation: fadeInAnimation ease 3.2s, 1s ease-out 0s 1 slideInFromLeft;
}

.hero-section .load-3rd {
    animation: fadeInAnimation ease 3.2s, 1s ease-out 0s 1 slideInFromLeft;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    animation: fadeInAnimation ease 3.5s;
}



.cards-container {
    padding: 10px;
}

.cards-container h3 {
    font-size: 30px;
}

.card {
    border-radius: 5px;
    background-color: white;
    padding: 40px;
}

.card h4 {
    font-size: 24px;
}